{% extends 'todo/base.html' %}
{% block content %}

<div class="page-header">
  <h1>Register</h1>
</div>
<div class="card-body">
  <form action="" method="post">
    {% csrf_token %}
      <label>{{ form.username.label }}</label>
      {{ form.username }}

      <label>{{ form.password1.label }}</label>
      {{ form.password1 }}

      <label>{{ form.password2.label }}</label>
      {{ form.password2 }}
      <br><br>
      <input class="btn" type="submit" value="Register">
      <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </form>
</div>

{% endblock content %}